USE [master]
GO
/****** Object:  Database [Meetngs]    Script Date: 21.06.2020 13:13:34 ******/
CREATE DATABASE [Meetngs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Meetngs', FILENAME = N'C:\Users\Пользователь\Meetngs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Meetngs_log', FILENAME = N'C:\Users\Пользователь\Meetngs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Meetngs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Meetngs]
GO
USE [Meetngs]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 21.06.2020 13:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 21.06.2020 13:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Meetings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 21.06.2020 13:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Meeting_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Meetings] ON 

INSERT [dbo].[Meetings] ([Id], [StartTime], [EndTime]) VALUES (1, CAST(N'2020-06-20T15:20:26.613' AS DateTime), CAST(N'2020-06-20T15:40:26.613' AS DateTime))
INSERT [dbo].[Meetings] ([Id], [StartTime], [EndTime]) VALUES (3, CAST(N'2020-06-20T15:50:26.613' AS DateTime), CAST(N'2020-06-20T16:40:26.613' AS DateTime))
INSERT [dbo].[Meetings] ([Id], [StartTime], [EndTime]) VALUES (4, CAST(N'2020-06-20T15:30:26.613' AS DateTime), CAST(N'2020-06-20T18:00:26.613' AS DateTime))
SET IDENTITY_INSERT [dbo].[Meetings] OFF
INSERT [dbo].[Members] ([Id], [FirstName], [LastName], [Email], [Meeting_Id]) VALUES (N'a579327b-5d77-440b-a40c-1a8908b3442a', N'sample1', N'sample2', N'sample9@gmail.com', 1)
INSERT [dbo].[Members] ([Id], [FirstName], [LastName], [Email], [Meeting_Id]) VALUES (N'9a47bafc-6ba7-4617-b82b-2b4b4ef5d912', N'user4', N'user4', N'user4@gmail.com', 3)
INSERT [dbo].[Members] ([Id], [FirstName], [LastName], [Email], [Meeting_Id]) VALUES (N'd2762c3c-12d1-409c-931c-709d165f1250', N'user8', N'user8', N'user8@gmail.com', 1)
/****** Object:  Index [IX_Meeting_Id]    Script Date: 21.06.2020 13:13:34 ******/
CREATE NONCLUSTERED INDEX [IX_Meeting_Id] ON [dbo].[Members]
(
	[Meeting_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Members_dbo.Meetings_Meeting_Id] FOREIGN KEY([Meeting_Id])
REFERENCES [dbo].[Meetings] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_dbo.Members_dbo.Meetings_Meeting_Id]
GO
USE [master]
GO
